#search-component {
  .search-container {
    border-radius: 6px;
    margin: auto;
    margin-bottom: 50px;
    border: 1px solid #ccc;
    width: 50%;

    @media only screen and (max-width: 655px) {
      width: 95%;
      border: 0;
    }

    form {
      display: flex;

      @media only screen and (max-width: 655px) {
        flex-direction: column;
      }

      input {
        display: block;
        font-size: 17px;
        line-height: 22px;
        flex: 1;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        border: 0;
        outline: none;
        color: #555;
        padding: 0.9rem 1.25rem;
        font-size: 22px;

        @media only screen and (max-width: 655px) {
          border: 1px solid #ccc;
          border-radius: 6px;
          margin-bottom: 5px;
        }
      }

      button {
        border: 0;
        outline: none;
        background: 0 0;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 1rem;
        cursor: pointer;

        & > :active {
          color: #3f51b5;
          font-weight: bold;
        }
      }

      @media only screen and (max-width: 655px) {
        button {
          border: 0;
          outline: 0;
          border-radius: 6px;
          cursor: pointer;
          background-color: #3f51b5;
          color: white;
          padding: 15px;
          text-align: base;
          font-size: 16px;
          display: flex;
          align-items: center;
        }
      }
    }
  }

  .images-container {
    display: grid;
    grid-gap: 45px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 300px;
    width: 95%;
    margin: auto;

    figure {
      margin: 0;

      & > :hover {
        transform: scale(1.1);
        opacity: 0.6;
        cursor: pointer;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
        padding: 5px;
      }
    }
  }

  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(20vh);
  }
}
