<!-- TODO: Also search on enter key press -->
<div id="search-component">
  <!-- TODO: Remove `value` -->
  <input #imgSrchInput id="img-search-input" value="computer" />
  <button (click)="search(imgSrchInput.value)">Search</button>

  <div class="images-container">
    <figure *ngFor="let image of images; index as i" (click)="openModal(image)">
      <img
        class="image"
        title="photo by {{ image.photographer }}"
        alt="Image {{ i + 1 }}"
        src="{{ image.src.medium }}"
      />
    </figure>
  </div>
</div>
